:root {
  --color-decorations: hsl(243, 28%, 51%);
}

.circle {
  background-color: var(--color-primary);
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  z-index: -1;
}

/* Hero section decorations */
/* Decoration of .profile-right */
.circle-left {
  background-color: var(--color-primary);
  width: clamp(9.375rem, 5.966rem + 17.05vw, 18.75rem);
  height: clamp(9.375rem, 5.966rem + 17.05vw, 18.75rem);
  position: absolute;
  top: 0%;
  left: -18%;
  opacity: 0.3;
}

.circle-right {
  background-color: var(--color-primary);
  width: clamp(7rem, 4.455rem + 12.73vw, 14rem);
  height: clamp(7rem, 4.455rem + 12.73vw, 14rem);
  position: absolute;
  top: 8%;
  right: -10%;
  opacity: 0.3;
}

/* Decoration of .profile-right */
.blob {
  position: absolute;
  bottom: 0%;
  right: 18%;
  width: 18rem;
  height: 18rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  animation: morph 20s ease-in-out infinite alternate;
  will-change: border-radius, transform;
  z-index: -1;
}

/* Blob animation */
@keyframes morph {
  0% {
    border-radius: 78% 22% 46% 54% / 62% 20% 80% 38%;
  }
  25% {
    border-radius: 26% 74% 65% 35% / 29% 69% 31% 71%;
  }
  50% {
    border-radius: 53% 47% 47% 53% / 44% 50% 50% 56%;
  }
  75% {
    border-radius: 71% 29% 47% 53% / 56% 56% 44% 44%;
  }
  100% {
    border-radius: 84% 16% 30% 70% / 58% 40% 60% 42%;
  }
}

/* Decorations rectangle, triangle, and circle of profile right */
.rectangle {
  position: absolute;
  bottom: 20%;
  width: clamp(5rem, 8vw, 6.25rem);
  height: clamp(5rem, 8vw, 6.25rem);
  border: 4px solid var(--color-decorations);
  filter: blur(3px);
}

.triangle {
  width: var(--size-40);
  position: absolute;
  bottom: 10%;
  right: 8%;
  stroke: var(--color-decorations);
}

.hero-decorations .circle {
  position: absolute;
  left: var(--size-64);
  top: var(--size-48);
  width: var(--size-64);
  height: var(--size-64);
  border-color: var(--color-decorations);
  background-color: transparent;
  filter: blur(1px);
}

@media (min-width: 48rem) {
  .circle-left {
    width: clamp(14rem, 8.229rem + 22.73vw, 24rem);
    height: clamp(14rem, 8.229rem + 22.73vw, 24rem);
    top: -30%;
    left: -12%;
    opacity: 0.2;
  }

  .blob {
    width: 22rem;
    height: 22rem;
    bottom: 0%;
    right: 14%;
    animation: morph 25s ease-in-out infinite alternate;
  }
}

.about-left {
  color: var(--color-primary);
}

/* About Me Decorations */
.about-left svg {
  position: absolute;
  top: 0%;
  left: 5%;
  fill: var(--color-primary);
  width: clamp(4rem, 3.545rem + 7.27vw, 8rem);
  height: clamp(4rem, 3.545rem + 7.27vw, 8rem);
}

.circle-lg {
  position: absolute;
  top: 0;
  right: 15%;
  width: clamp(1rem, 1.545rem + 3.27vw, 4rem);
  height: clamp(1rem, 1.545rem + 3.27vw, 4rem);
  opacity: 0.4;
  border: 4px solid var(--color-primary);
  background-color: transparent;
}

.circle-sml {
  position: absolute;
  top: 30%;
  left: 25%;
  width: clamp(2rem, 1.545rem + 4.27vw, 6rem);
  height: clamp(2rem, 1.545rem + 4.27vw, 6rem);
  opacity: 0.8;
  border: 4px solid var(--color-primary);
  background-color: transparent;
  filter: blur(2px);
  z-index: -1;
}

/* About me decoration in mobile  */
@media (min-width: 48rem) {
  .about-left svg {
    top: 0%;
    left: 0%;
  }

  .circle-lg {
    top: -10%;
    right: 0;
  }

  .circle-sml {
    top: 100%;
    left: 0%;
  }
}

/* Decoration Of Connect with me*/
.decorations-connect {
  position: relative;
  overflow: hidden;
  padding-bottom: 8rem;
}
/* Icon Paper Plane*/
.decorations-connect svg {
  margin-inline: auto;
  width: clamp(6rem, 3.545rem + 7.27vw, 10rem);
}
/* Little Circle left */
.decorations-connect .circle-left {
  position: absolute;
  top: 0%;
  left: 10%;
  width: clamp(3rem, 1.545rem + 3.27vw, 6rem);
  height: clamp(3rem, 1.545rem + 3.27vw, 6rem);
  background: none;
  opacity: 0.6;
}
/* Bigger Circle Right */
.decorations-connect .circle-right {
  position: absolute;
  top: 20%;
  right: 10%;
  width: clamp(4rem, 2.545rem + 4.27vw, 8rem);
  height: clamp(4rem, 2.545rem + 4.27vw, 8rem);
  background: none;
  opacity: 0.4;
}
/* Biggest Circle Bottom */
.circle-bottom {
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: clamp(4rem, 3.545rem + 5.27vw, 8rem);
  height: clamp(4rem, 3.545rem + 5.27vw, 8rem);
  background: none;
  filter: blur(2px);
}

/* Connect With Me in Desktop */
@media (min-width: 48rem) {
  .decorations-connect svg {
    margin-inline: auto;
  }

  .decorations-connect .circle-bottom {
    left: 15%;
  }
}
