/* This section is connected with decorations.css */
/* it is used to make decoration position easier to maintain */
.home {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.home .deco-wrapper {
  pointer-events: none;
  inset: 0;
  z-index: 0;
}
/* End of decorations.css connection */

/* Hero Section */
/* This is container of column left and column right*/
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: var(--size-20);
}

/* Styling  left column in mobile*/
.profile-left {
  display: flex;
  flex-direction: column;
  gap: var(--size-20);
  width: 80%;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: var(--size-20);
}

.profile h6 {
  font-size: var(--h6);
  color: var(--color-secondary-text);
}

.profile h3 {
  font-size: var(--h3);
  color: var(--color-primary-text);
}

.profile h3 span {
  color: var(--color-primary);
}

.profile p {
  font-size: var(--fs-body-text);
  color: var(--color-secondary-text);
}

/* Styling right column in mobile */
.profile-right {
  position: relative;
}

.profile-right img {
  object-fit: cover;
  filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.25));
}

/* Desktop */
@media (min-width: 48rem) {
  .hero-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .profile-left {
    max-width: 40%;
    gap: var(--size-32);    
  }
  .profile {
    gap: var(--size-16);
  }
}
